*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;

}
body {
    background-color: #FBF3D1;
    margin: 0;
}
main {
    background-color: #F5E7C6;
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 1px , solid;
    gap: 100px;
    justify-content: flex-start;
    /* padding-left: 15%; */

}
header {
    background-color: #FBF3D1;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
     border: 1px solid;
     padding: 0.5rem;
 
}
#conteudo {
    display: flex;
    flex-direction: row;
    height: 87vh;
}
#menulateral {
    background-color: #F5E7C6;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    background-color:#FBF3D1;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}
.card{
     width: 80%; 
     height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 3%;
    border: 1px, solid;
    border-radius: 10px;
    flex-direction: column;
}
.card-countainer{
    display:flex;
    gap: 1vw;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
}

.text-card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 90%;
    padding: 10px;
}


.ul{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
}
.home-button{
    display: flex;
   justify-content: flex-start;
   font-size: 30px;

}
.card-countainer-index{
    display:flex;
    gap: 1vw;
    flex-direction: row;;
}
.card-personalidades{
    width: 80%; 
    height: 80%; 
    display: flex;
    align-items: start;
    justify-content: start ;
    padding: 10px;
    background-color: #ffffff;
    border: 1px, solid;
    border-radius: 10px;
}
.card-countainer-personalidades{
    display:flex;
    gap: 1vw;
    flex-direction: column;
    justify-content: flex-start ;
    padding: 2%;
    align-items: start;
}
.card-countainer-organizacao{
    display:flex;
    gap: 1vw;
    flex-direction: column;
    justify-content: flex-start ;
    padding: 2%;
    align-items: start;
}
.card-organizacao{
    width: 70%; 
    height: 100%; 
    display: flex;
    align-items: start;
    justify-content: start ;
    padding: 10px;
    background-color: #ffffff;
    border: 1px, solid;
    border-radius: 10px;
}
.video-div{
    width: 80%;
    height: 90%;
    border: 1px solid;
    border-radius: 10px;
}
.video-container{
    display:flex;
    gap: 1vw;
    flex-direction: column;
    justify-content: flex-start ;
    padding: 2%;
    align-items: start;
}
.link-video{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.div-h1{
    display:flex;
    justify-content: center ;
    align-items: center;
}
form {
    width: 400px; 
}
label { 
    display: block; margin-top: 12px; 
}
input, textarea {
    width: 100%; 
    padding: 8px;
    box-sizing: border-box; 
}
button {
    margin-top: 15px; 
    padding: 10px 18px; 
    cursor: pointer; 
}